<h1><%= @cocktail.name %></h1>
<hr>
<% @cocktail.doses.each do |dose|%>
<p> <%= dose.description %> of
<%= dose.ingredient.name %> |
<%= link_to 'Delete dose', dose, method: :delete%></p>

<% end %>
<hr>
<p> <%= link_to 'Add dosage', new_cocktail_dose_path(@cocktail) %></p>


<p> <%= link_to 'Home', cocktails_path %> </p>
